doctype html 
html(lang='en')
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./style/Storage.css")
        script(src="https://code.jquery.com/jquery-3.6.3.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        script(src="./script/Storage.js")
        script(src="./script/Storage_Home.js")
        title= title
    body#StoragePage 
        div#mainContent
            button#langToggleBtn(style='position: fixed; top: 10px; right: 20px; width: 70px; z-index: 9999;', onclick='toggleLanguage()')=lang

            div#dashboard_section
                div#popUpMsgBox
                    div#popUpBoxContent
                        p#popUpBoxMsg 
                        button#popUpCloseBtn Close
                div#popUpMsgBox2
                    div#popUpBoxContent2
                        p#popUpBoxMsg2 
                        form(id="storageChargesForm", method='post', action='/charges', class='form')
                            .form-group
                                input(type="month" id="yearMonthInput" name="yearMonthInput", required)  
                                .div.popUpWithInput#chargesPopUp              
                                    button#popUpCloseBtn2 Cancel
                                    button#popUpConfirmBtn Confirm
                div#popUpMsgBox3
                    div#popUpBoxContent3
                        p#popUpBoxMsg3 
                        form(id="historyForm", method='post', action='/history', class='form')
                            .form-group.historyFormGroup
                                label(for="yearMonthInputStart" id="yearMonthInputStartLabel") Start Date:
                                input(type="month" id="yearMonthInputStart" name="yearMonthInputStart", required)  

                                label(for="yearMonthInputEnd" id="yearMonthInputEndLabel") End Date:
                                input(type="month" id="yearMonthInputEnd" name="yearMonthInputEnd", required)  
                                .div.popUpWithInput#historyPopUp                  
                                    button#popUpCloseBtn3 Cancel
                                    button#popUpConfirmBtn2 Confirm

                div.container-fluid
                    div.row
                        div.col-md-1.scroll-container
                            ul.nav.nav-tabs#navTabs(style='color:black;')
                                li.active.nav-item
                                    a.active.show.nav-link(data-toggle='tab', href="#home", aria-expanded='true') Home
                                li.nav-item
                                    a.nav-link#recordTab(data-toggle='tab', href="#Record", aria-expanded='false')=recordTab
                                li.nav-item
                                    a.nav-link#viewTab(data-toggle='tab', href="#View", aria-expanded='false')=viewTab

                        div#myTabContent
                            div.tab-pane.fade.show.active#home
                                div.image-wrapper#imageWrapper
                                    div.clock
                                        h2 New York
                                        div#newyork

                                    div.clock
                                        h2 London
                                        div#london

                                    div.clock
                                        h2 Paris
                                        div#paris

                                    div.clock
                                        h2 Beijing
                                        div#beijing

                                    div.clock
                                        h2 Ottawa
                                        div#ottawa

                                    div.clock
                                        h2 Sydney
                                        div#sydney

                            div.tab-pane.fade#Record
                                br
                                .row
                                    .col-md-5
                                        h2 Inbound Item
                                        form(id="inboundForm", method='post', action='/inbound', class='form')
                                            .form-group
                                                label(for="date") Date:
                                                input(name="date", type="date", id="date", class="form-control", required)

                                                label(for="clientName") Client Name:
                                                input(name="client", type="text", id="clientName", class="form-control", placeholder="Enter client name", required)

                                                label(for="TrackingNum") Tracking Number:
                                                input(name="TrackingNum", type="text", id="TrackingNum", class="form-control", placeholder="Enter tracking number", required)
                                                
                                                label(for="totalCBM") Total CBM:
                                                input(name="CBM", type="number", step="any", id="totalCBM", class="form-control", placeholder="Enter total CBM", required)

                                                button.btn.btn-primary(id="inboundBtn") Save
                                                
                                        h2 Outbound Item
                                        form#outboundForm.form(method='post', action='/outbound')
                                            .form-group
                                                label(for="outboundDate") Date:
                                                input(name="outboundDate", type="date", id="outboundDate", class="form-control", required)

                                                label(for="outboundClient") Client Name:
                                                select(name="outboundClient", id="outboundClient", class="form-control", style="background-color:white; box-shadow:none;", required)

                                                button#outboundBtn.btn.btn-primary Save

                                    .col-md-7
                                        h2#AllItemsListh2 All Items
                                        div.options-container#listContainer
                                            ul#myList

                            div.tab-pane.fade#View
                                .row.viewContentPage
                                    .col-md-2#viewLeftContent
                                        .div
                                            button.btn.btn-primary.viewPageBtn(id="chargesBtn")=StorageChargesVar
                                        .div
                                            button.btn.btn-primary.viewPageBtn(id="historyBtn")=historyVar
                                        .div
                                            button.btn.btn-primary.viewPageBtn(id="exportBtn")=exportVar

                                    .col-md-10
                                        div.view-container#viewListContainer




